web/WEB-INF/wsdl/localhost_8080/ProyectoWeb/ServicioUser.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webServices.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webServices.org/" name="ServicioUser">
<types>
<xsd:schema>
<xsd:import namespace="http://webServices.org/" schemaLocation="http://localhost:8080/ProyectoWeb/ServicioUser?xsd=1"/>
</xsd:schema>
</types>
<message name="getShowUsuario">
<part name="parameters" element="tns:getShowUsuario"/>
</message>
<message name="getShowUsuarioResponse">
<part name="parameters" element="tns:getShowUsuarioResponse"/>
</message>
<message name="UpdateUsuario">
<part name="parameters" element="tns:UpdateUsuario"/>
</message>
<message name="UpdateUsuarioResponse">
<part name="parameters" element="tns:UpdateUsuarioResponse"/>
</message>
<message name="EliminarUsuario">
<part name="parameters" element="tns:EliminarUsuario"/>
</message>
<message name="EliminarUsuarioResponse">
<part name="parameters" element="tns:EliminarUsuarioResponse"/>
</message>
<message name="getUsuarios">
<part name="parameters" element="tns:getUsuarios"/>
</message>
<message name="getUsuariosResponse">
<part name="parameters" element="tns:getUsuariosResponse"/>
</message>
<message name="InsertUsuario">
<part name="parameters" element="tns:InsertUsuario"/>
</message>
<message name="InsertUsuarioResponse">
<part name="parameters" element="tns:InsertUsuarioResponse"/>
</message>
<portType name="ServicioUser">
<operation name="getShowUsuario">
<input wsam:Action="http://webServices.org/ServicioUser/getShowUsuarioRequest" message="tns:getShowUsuario"/>
<output wsam:Action="http://webServices.org/ServicioUser/getShowUsuarioResponse" message="tns:getShowUsuarioResponse"/>
</operation>
<operation name="UpdateUsuario">
<input wsam:Action="http://webServices.org/ServicioUser/UpdateUsuarioRequest" message="tns:UpdateUsuario"/>
<output wsam:Action="http://webServices.org/ServicioUser/UpdateUsuarioResponse" message="tns:UpdateUsuarioResponse"/>
</operation>
<operation name="EliminarUsuario">
<input wsam:Action="http://webServices.org/ServicioUser/EliminarUsuarioRequest" message="tns:EliminarUsuario"/>
<output wsam:Action="http://webServices.org/ServicioUser/EliminarUsuarioResponse" message="tns:EliminarUsuarioResponse"/>
</operation>
<operation name="getUsuarios">
<input wsam:Action="http://webServices.org/ServicioUser/getUsuariosRequest" message="tns:getUsuarios"/>
<output wsam:Action="http://webServices.org/ServicioUser/getUsuariosResponse" message="tns:getUsuariosResponse"/>
</operation>
<operation name="InsertUsuario">
<input wsam:Action="http://webServices.org/ServicioUser/InsertUsuarioRequest" message="tns:InsertUsuario"/>
<output wsam:Action="http://webServices.org/ServicioUser/InsertUsuarioResponse" message="tns:InsertUsuarioResponse"/>
</operation>
</portType>
<binding name="ServicioUserPortBinding" type="tns:ServicioUser">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getShowUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioUser">
<port name="ServicioUserPort" binding="tns:ServicioUserPortBinding">
<soap:address location="http://localhost:8080/ProyectoWeb/ServicioUser"/>
</port>
</service>
</definitions>