web/WEB-INF/wsdl/localhost_8080/ProyectoWeb/ServicioUser.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webServices.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webServices.org/">

<xs:element name="EliminarUsuario" type="tns:EliminarUsuario"/>

<xs:element name="EliminarUsuarioResponse" type="tns:EliminarUsuarioResponse"/>

<xs:element name="InsertUsuario" type="tns:InsertUsuario"/>

<xs:element name="InsertUsuarioResponse" type="tns:InsertUsuarioResponse"/>

<xs:element name="UpdateUsuario" type="tns:UpdateUsuario"/>

<xs:element name="UpdateUsuarioResponse" type="tns:UpdateUsuarioResponse"/>

<xs:element name="getShowUsuario" type="tns:getShowUsuario"/>

<xs:element name="getShowUsuarioResponse" type="tns:getShowUsuarioResponse"/>

<xs:element name="getUsuarios" type="tns:getUsuarios"/>

<xs:element name="getUsuariosResponse" type="tns:getUsuariosResponse"/>

<xs:complexType name="getShowUsuario">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getShowUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:modelUser" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modelUser">
<xs:sequence>
<xs:element name="activo" type="xs:int"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="descRol" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCrea" type="xs:string" minOccurs="0"/>
<xs:element name="fechaMod" type="xs:string" minOccurs="0"/>
<xs:element name="idRol" type="xs:int"/>
<xs:element name="idUsuario" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="usuarioCrea" type="xs:string" minOccurs="0"/>
<xs:element name="usuarioMod" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertUsuario">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
<xs:element name="arg7" type="xs:string" minOccurs="0"/>
<xs:element name="arg8" type="xs:string" minOccurs="0"/>
<xs:element name="arg9" type="xs:string" minOccurs="0"/>
<xs:element name="arg10" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarUsuario">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateUsuario">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
<xs:element name="arg7" type="xs:string" minOccurs="0"/>
<xs:element name="arg8" type="xs:string" minOccurs="0"/>
<xs:element name="arg9" type="xs:string" minOccurs="0"/>
<xs:element name="arg10" type="xs:string" minOccurs="0"/>
<xs:element name="arg11" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:modelUser" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>